<html>

    <head>
        <meta charset="utf-8"/>
        <title>REST CLIENT USING ANGULAR</title>
        <link href="http://fonts.googleapis.com/css?family=Cookie|Open+Sans:400,700" rel="stylesheet" />
        <!-- The main CSS file -->
        <link href="CssClass/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-app="switchableGrid" ng-controller="SwitchableGridController">
    
    <div class="main">
   
        <div>
        <div class="register">
            <h3>EDIT CONTACT</h3>
               <form ng-submit="alterarContato()">
                <div>
                    <label for="name">Contact Id</label>
                    <input type="text" ng-model="codigo" name="codigo"/>
                </div>
                
                <div>
                    <label for="name">Name</label>
                    <input type="text" ng-model="nome" name="nome"/>
                </div>
                
                <div>
                    <label for="name">Email</label>
                    <input type="text" ng-model="email" name="email"/>
                </div>
                
                <div>
                    <label for="name">Address</label>
                    <input type="text" ng-model="alternaEmail" name="alternaEmail"/>
                </div>
                
                <div>
                    <label for="name">Cep</label>
                    <input type="text" ng-model="cep" name="cep"/>
                </div>
                
                <div>
                    <label for="name">House No</label>
                    <input type="text" ng-model="complemento" name="complemento"/>
                </div>
                
                <div>
                    <label for="name">Address</label>
                    <input type="text" ng-model="endereco" name="endereco"/>
                </div>
                
                <div>
                    <label></label>
                    <input type="submit" value="EDIT CONTACT" class="button"/>
                </div>
            </form>
            <div>
                <h3>{{mostraAbbasRest3}}</h3>
            </div>
        </div>
        </div>
    </div>         

        <!-- Include AngularJS from Google's CDN and the resource module -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
        <script src="AppController/script.js" type="text/javascript"></script>
    </body>
</html>